.button {
  position: relative;
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1.5em;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
}

.button > img {
  margin-right: 0.5em;
}
